@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.header {
    background: #f0f9ff;
}

.sidebar{
    background: #0284c7;
    grid-row: 1 /3;
    color: #ffff;
    padding: 1rem 2rem 1rem 1rem;
    font-weight: 600;
}

.logo {
    display: grid;
    grid-template-columns: 3rem 1fr;
    grid-template-rows: 3rem;
    align-items: center;
    font-size: 20px;
    padding-bottom: 2rem;
}

.user-info {
    display: grid;
    grid-row-gap: 1rem;
    align-items: center;
    padding-bottom: 4rem;
}

.user-option > a{
    display: grid;
    grid-template-columns: 3rem 1fr;
    grid-row-gap: 2rem;
    align-items: center;
    text-decoration: none;
    color: #ffff;
    font-size: 16px; 
}

#icon{
    height: 1.5em;
    width: 1.5em;
}

.setup{
    display: grid;
    grid-row-gap: 1rem;
    align-items: center;
}

.setup span{
    /* text-align: center; */
}

.user-info span{
    /* text-align: center; */
}

.main-content {
    background: #bae6fd;
}

.project-cards {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.project-cards .cards {
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.7);
    padding: 20px;
    display: grid;
    /* grid-template-columns: 6px 1fr; */
}

.title {
    
}
